<div id="information" class="d-flex justify-content-center align-items-center flex-column">
  <!-- @if(global.login && !global.partida){
    <app-salas (logoff)="desconectar()"/>
  }@else if (global.partida) {
    <app-map-canvas/>
  }@else { -->
    @if(error!=""){
      <div id="loginborder" class="boxborder mb-3">
        <div id="login" class="boxinside d-flex p-0 justify-content-center">
          <p class="error m-0">{{error}}</p>
        </div>
      </div>
    }
    <div id="loginborder" class="boxborder boxshadow">
      <div id="login" class="boxinside d-flex justify-content-center align-items-center flex-column">
        <img src="/img/risk.png" alt="image" />
        <form (ngSubmit)="userlogin()" [formGroup]="logForm">
          <div class="d-flex flex-column col-12 align-items-center justify-content-center">
            Usuari: <input type="text" name="usr" id="usr" formControlName="user">
            @if(logForm.controls['user'].errors?.['required'] && logForm.controls['user'].touched){
              <p class="error">User es obligatori</p>
            }
            Contrasenya: <input type="password" name="pswd" id="pswd" formControlName="pswd">
            @if(logForm.controls['pswd'].errors?.['required'] && logForm.controls['pswd'].touched){
              <p class="error">Contrasenya es obligatoria</p>
            }
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" [disabled]="logForm.invalid" class="btn">Connect</button>
          </div>
        </form>
      </div>
    </div>
  <!-- } -->
    <!-- <div class="position-absolute">
      <div *ngFor="let message of messages" >
        {{ message.data }}
      </div>
    </div> -->
</div>




