#sala{
  width:600px;
  position:relative;
  #salainterior{
    padding:10px;
    position:relative;
    #tornarLobby{
      top: 5%;
      left: calc(95% - 60px);
    }
    #jugadorbox{
      height:90px !important;
    }
    .boxinside{
      height:100%;
    }
  }
}

