#sala{
  width:600px;
  position:relative;
  #salaName{
    max-width: 250px;
  }
  #salainterior{
    padding:10px;
    position:relative;
    #tornarLobby{
      top: 5%;
      left: calc(95% - 60px);
    }
    #jugadorbox{
      height:90px !important;
    }
    .boxinside{
      height:100%;
    }
  }
}
h3{
  text-overflow: ellipsis;
  overflow: hidden;
}

