#sala {
  width: 600px;
  position: relative;
}
#sala #salaName {
  max-width: 250px;
}
#sala #salainterior {
  padding: 10px;
  position: relative;
}
#sala #salainterior #tornarLobby {
  top: 5%;
  left: calc(95% - 60px);
}
#sala #salainterior #jugadorbox {
  height: 90px !important;
}
#sala #salainterior .boxinside {
  height: 100%;
}
h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}
