<div id="information" class="d-flex flex-row">
  <!-- Modal "Abandonar partida?" -->
  <div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog boxborder position-relative">
      <div class="modal-content boxinside">
        <div class="text-center">
          <button id="disconnect" type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">⨉</button>
        </div>
        <div class="modal-body">
          <div class="slidecontainer d-flex flex-row flex-wrap">
            <div class="d-flex flex-row col-12 text-center">
              <h5 style="color:white;">Estas intentant deixar la partida? <br>Si ho fas contará com una derrota al teu historial</h5>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-12">
          <button type="button" class="btn btn-danger" (click)="surrender()">Sortir de la partida</button>
        </div>
      </div>
    </div>
  </div>
  <!-- counter e info de partida -->
   <div id="gamestatus" class="d-flex flex-row justify-content-between align-items-center mt-4">
      <div id="timer" class="boxborder">
        <div class="boxinside align-items-center ps-3 d-flex" style='background-color: {{global.activePlayer.color}}'>
          <h4 class="p-0 m-0">Temps:</h4>
          <h4 #timer class="ms-3 p-0 m-0">{{min}}:{{sec}}</h4>
        </div>
      </div>
      <div id="phases" class="boxborder">
        <div class="boxinside d-flex flex-row justify-content-between ps-3 pe-3" style='background-color: {{global.activePlayer.color}}'>
          <img id="icon" src="/img/deploy.png" alt="deployment">
          <img id="icon" src="/img/canon.png" alt="deployment">
          <img id="icon" src="/img/reinforcement.png" alt="deployment">
        </div>
      </div>
      <button id="nextPhase" type="button" class="btn btn-success" [disabled]="global.user.id==global.activePlayer.id?null:true">Finalitzar Fase</button>
   </div>
  <!-- Informació jugadors -->
  <div class="ms-3 mt-1 d-flex flex-row flex-wrap col-1 position-absolute align-items-center h-100" >
    <div *ngFor="let item of [].constructor(global.sala.connected); let i = index">
      <div id="jugador" class="boxborder mb-1 position-relative">
        @if(global.activePlayer.id==global.jugadors[i].id){
          <img id="activeBorder" src="/img/borderActive.png">
        }
        <div id="{{global.jugadors[i].id}}" class="boxinside d-flex flex-row" style='background-color: {{global.jugadors[i].color}}'>
          <div class="d-flex flex-row align-items-center position-relative jugador{{i}}">
            <img src="/img/soldierIcon.JPG" class="icon_jugador" />
            @if(global.sala.admin_id==global.jugadors[i].id){
              <img src="/img/crown.png" class="crown" />
            }
          </div>
          <div id="jugInfo" class="d-flex flex-row flex-wrap justify-content-around ms-3">
            <h5 class="ms-1 col-12 mb-0">{{global.jugadors[i].nom}} </h5>
            <div class="d-flex flex-row col-6 align-items-center">
              <img src="/img/cards.png" class="card"/>
              <div class="qty text-center">{{global.jugadors[i]._cartas.length}}</div>
            </div>
            <div class="d-flex flex-row col-6 align-items-center">
              <img src="/img/soldier.png" class="soldier"/>
              <div class="qty text-center text-center">{{global.jugadors[i].tropas}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mapas -->
  <div id="map" class="boxborder boxshadow">
    <div class="d-flex position-relative boxinside" style='background-color: lightseagreen'>
      <button id="disconnect" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">⨉</button>
      <h4 id="cntrybx" #countrybox class="position-absolute ms-3 mt-1"></h4>
      <!-- Mapa visible -->
      <canvas #visibleCanvas width="800" height="490" (mousemove)="onMouseMove($event)" (click)="selectCountry($event)" [style.pointer-events]="global.user.id==global.activePlayer.id? 'auto' : 'none'"></canvas>
      <!-- Canvas oculto con mapa de regiones -->
      <canvas #hitCanvas width="800" height="490" style="display: none;"></canvas>
    </div>
  </div>
  <!-- Chat d'events -->
   <div id="missatges" class="mt-2">
      <h3 class="text-center">Estatus Partida</h3>
      <div id="msg">
        <div *ngFor="let message of messages" id="msgText">
          {{ message }}
        </div>
      </div>
   </div>
</div>









