@box_width: 230px;
@message: 260px;
@hoverColor: rgb(186, 196, 180);
:host{
  h5{
    text-overflow: ellipsis;
    overflow: hidden;

  }

  width: 100%;
  height:100%;
  display:flex;
  position:relative;
  #cntrybx{
    text-align: center;
  }
  #disconnect{
    left: 98%;
  }
  #map{
    margin-top:80px;
    margin-left: calc(@box_width + 25px);
    .boxinside{
      padding:0;
      .country{
        transition: all 0.2s ease !important;
        &:hover{
          fill:@hoverColor !important;
          transform: translateY(-5px);
          -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
          filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
        }
      }
      .attackto{
        transition: all 0.2s ease !important;
        transform: translateY(-5px);
        -webkit-filter: drop-shadow( 4px 4px 3px rgba(255, 1, 213, 0.884));
        filter: drop-shadow( 4px 4px 3px rgba(255, 1, 213, 0.884));
        fill:rgba(0, 225, 255, 0.377);
        &:hover{
          fill:@hoverColor !important;
        }
      }
      .selected{
        transition: all 0.2s ease !important;
        transform: translateY(-5px);
        -webkit-filter: drop-shadow( 4px 4px 3px rgba(245, 9, 9, 0.925));
        filter: drop-shadow( 4px 4px 3px rgba(245, 9, 9, 0.925));
        fill:rgba(255, 138, 4, 0.452);
      }
      .unclickable{
        pointer-events: none;
        cursor: not-allowed;
      }
    }

  }
  #activeBorder{
    rotate: 90deg;
    z-index:1;
    transform-origin: 95% 35%;
    left:50px;
    position:absolute;
    height: @box_width+20;
    width:106px;
  }
  #jugador{
    width:@box_width;
    flex-shrink: 0;

    #jugInfo{
      max-width:60%;
      white-space: nowrap;
    }
    .boxinside{
      padding:10px;
      width:100%;
      overflow: hidden;
    }
    .crown{
      margin-left: -12%;
      margin-top: 15%;
    }
    .card{
      width:25px;
    }
    .soldier{
      width:30px;
      height:30px;
    }
    .qty{
      font-size: 20px;
      height:30px;
      width: 35px;
    }
  }
  #missatges{
    width:@message;
    margin-left: 20px;
    #msg{
      color:white;
      padding:12px;
      background-color: rgba(0, 0, 0, 0.61);
      border-radius: 15px;
      overflow-y: scroll;
      height:90%;
      width:@message;
      #msgText{
        font-family: 'Times New Roman', Times, serif;
      }
    }
  }
  #gamestatus{
    display:flex;
    flex:row;
    position: absolute;
    height:40px;
    width:700px;
    margin-left: calc(@box_width + 85px);
    #timer{
      width:165px;
    }
    #phases{
      width:240px;
    }
    #icon{
      height: 30px;
      width: 30px;
    }
    #nextPhase{
      width:130px;
    }
    .boxinside{
      padding:5px;
    }
  }
}
