<div class="ms-4 mt-5 d-flex position-absolute" *ngFor="let item of [].constructor(global.sala.connected); let i = index">
  <div id="jugador" class="boxborder jugador{{i}}">
    <div id="{{global.jugadors[i].id}}" class="boxinside d-flex flex-column" style='background-color: {{global.jugadors[i].color}}'>
      <div class="d-flex flex-row align-items-center position-relative">
        <img src="/img/soldierIcon.JPG" class="icon_jugador" />
        <h5 class="ms-3">{{global.jugadors[i].nom}}</h5>
        @if(global.sala.admin_id==global.jugadors[i].id){
          <img src="/img/crown.png" class="crown" />
        }
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-around mt-2">
        <div class="d-flex flex-row col-5 align-items-center">
          <img src="/img/cards.png" class="card me-1"/>
          <div class="qty text-center">20</div>
        </div>
        <div class="d-flex flex-row col-5 align-items-center">
          <img src="/img/soldier.png" class="soldier me-1"/>
          <div class="qty text-center text-center">{{global.jugadors[i].tropas}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map" class="boxborder boxshadow mt-5">
  <div class="d-flex position-relative boxinside">
    <h4 id="cntrybx" #countrybox class="position-absolute ms-3 mt-1"></h4>
    <!-- Mapa visible -->
    <canvas #visibleCanvas width="800" height="490" (mousemove)="onMouseMove($event)" (click)="onClick($event)"></canvas>
    <!-- Canvas oculto con mapa de regiones -->
    <canvas #hitCanvas width="800" height="490" style="display: none;"></canvas>
  </div>
</div>








