<div class="col-12">
  <!-- Attacker -->
  <div class="d-flex flex-column text-center justify-content-center">
    <div>
      <h4>Atacant:</h4>
      <div class="d-flex flex-row justify-content-center">
        <h5 class="me-3 m-0">{{attackerCountry.name}} - Troops:</h5><h5 class="number"> {{attackerCountry.troops}}</h5>
      </div>
      <!-- Daus -->
      <div #attacker class="d-flex flex-row justify-content-around">
      @for(i of [].constructor(attackerDices); track i){
        <div class="dice-wrapper">
            <div class="dice-container">
                <div id="dice" class="dice rotation">
                    <div class="face front">1</div>
                    <div class="face back">2</div>
                    <div class="face right">3</div>
                    <div class="face left">4</div>
                    <div class="face top">5</div>
                    <div class="face bottom">6</div>
                </div>
            </div>
        </div>
      }
      </div>
    </div>
    <!-- Defender -->
    <div>
      <h4>Defensor:</h4>
      <div class="d-flex flex-row justify-content-center">
        <h5 class="me-3 m-0">{{defenderCountry.name}} - Troops:</h5> <h5 class="number">{{defenderCountry.troops}}</h5>
      </div>
      <!-- Daus -->
      <div #defender class="d-flex flex-row justify-content-around">
        @for(i of [].constructor(defenderDices); track i){
          <div class="dice-wrapper">
              <div class="dice-container">
                  <div id="dice" class="dice rotation">
                      <div class="face front">1</div>
                      <div class="face back">2</div>
                      <div class="face right">3</div>
                      <div class="face left">4</div>
                      <div class="face top">5</div>
                      <div class="face bottom">6</div>
                  </div>
              </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>




