@font-face {
  font-family: FinalFantasy;
  src: url("/fonts/finalf.ttf") format('truetype');
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'FinalFantasy';
  position: fixed;
  background-size: cover;
  background: url(../public/img/background.jpg) no-repeat center center;
}
body input {
  font-family: sans-serif;
  text-align: center;
}
body #minirisk,
body #disconnect,
body #tornarLobby {
  position: absolute;
}
body #minirisk {
  width: 80px;
  height: 50px;
  left: 4%;
  top: 2%;
}
body #disconnect {
  left: 95%;
  border-radius: 50%;
  top: -5%;
}
body #disconnect:hover {
  border-color: #ff9900;
  box-shadow: 0px 0px 10px 5px #df7070;
}
body .error {
  color: red;
  font-weight: bold;
  text-shadow: 3px 1px 3px #c6e41b, 0 0 1em #d2d3ca, 0 0 0.2em #ffffff;
}
body .icon_jugador {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
}
body .crown {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 45px;
  height: 45px;
}
body .playerMarker {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 35px;
  left: 40px;
}
body .number {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  margin: 0px;
}
body #information {
  height: 100%;
  width: 100%;
}
body #information .boxshadow {
  box-shadow: 0px 0px 20px 10px #df7070;
}
body #information .boxborder {
  background-color: white;
  color: white;
  font-weight: bold;
  padding: 5px;
  border: 3px solid black;
  height: fit-content;
}
body #information .boxinside {
  position: relative;
  padding: 30px;
  background-color: #206ee2;
}
body #information .boxinside,
body #information .boxborder,
body #information input {
  border-radius: 20px;
}
body #information input:hover,
body #information button:hover {
  border-color: green;
  box-shadow: 0px 0px 10px 5px #79df70;
}
